@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-soft-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    --secondary-main-bg: hsl(217, 54%, 11%);
    --secondary-card-bg: hsl(216, 50%, 16%);
    --secondary-line: hsl(215, 32%, 27%);
    --secondary-white: hsl(0, 0%, 100%);
}

body {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    background: var(--secondary-main-bg);
    position: relative;
    height: 100vh;
}

.card-container {
    background: var(--secondary-card-bg);
    width: 348px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    box-shadow: 0 15px 15px 15px hsl(213, 57%, 9%), 0 20px 20px 30px hsl(216, 51%, 10%);
}

.image-container {
    margin: 24px 24px 0 24px;
    background: url("/images/image-equilibrium.jpg");
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.image-container::after {
    content: '';
    /* it only shows with position absolute */
    position: absolute;
    background: rgba(0, 255, 247, 0.5);
    width: 300px;
    height: 300px;
    visibility: hidden;
    border-radius: 10px;
}

.image-container:hover::after {
    visibility: visible;
}

.image-container:hover .eye-icon {
    visibility: visible;
    z-index: 1000;
}

.eye-icon {
    width: 47px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.info-container {
    padding: 0 24px;
}

.info-container h1 {
    color: var(--secondary-white);
    font-size: 22px;
    font-weight: 500;
    padding: 18px 0;
    display: inline-block;
    cursor: pointer;
}

.info-container h1:hover {
    color: var(--primary-cyan);
}

.description-container {
    color: var(--primary-soft-blue);
    font-weight: 300;
    line-height: 1.5;
}

.other-info {
    border-bottom: var(--secondary-line) 1px solid;
}

.ethereum, .clock {
    display: inline-block;
}

.ethereum p, .clock p {
    display: inline-block;
    position: relative;
    left: 3px;
    bottom: 2px;
    padding: 25px 0 20px 0;
}

.ethereum p {
    color: var(--primary-cyan);
    font-size: 16px;
}

.clock {
    float: right;
    color: var(--primary-soft-blue);
    font-size: 16px;
}

.creator-space {
    display: flex;
    padding: 18px 25px 25px 25px;
    margin-top: var(--secondary-white) 1px solid;
    align-items: center;
}

.creator-avatar img {
    width: 33px;
    border: var(--secondary-white) 1px solid;
    border-radius: 50%;
}

.creator-name {
    display: inline-block;
    position: relative;
    left: 15px;
    bottom: 3px;
    font-weight: 300;
}

.creator-name p {
    font-size: 16px;
    color: var(--primary-soft-blue);
}

.creator-name a {
    text-decoration: none;
    color: var(--secondary-white);
}

.creator-name a:hover {
    color: var(--primary-cyan);
}

.attribution {
    position: relative;
    top: 97%;
    font-size: 11px;
    text-align: center;
    color: var(--secondary-white);
}

.attribution a {
    color: hsl(228, 20%, 60%);
}

@media (max-width: 460px) {
    .card-container {
        width: 325px;
    }

    .image-container {
        height: 277px;
    }

    .image-container::after {
        width: 277px;
        height: 277px;
    }

    .info-container h1 {
        padding: 24px 0 14px 0;
    }

    .description-container {
        font-size: 16px;
    }

    .ethereum p, .clock p {
        padding: 20px 0 15px 0;
    }

    .creator-space {
        padding: 16px 25px 20px 25px;
    }
}